ul {
  list-style-type: none;
  padding: 0;
}

.chat-box {
  overflow-y: auto;
  width: 100%;
  background-color: #3a3b3c;
  border-radius: 5px;
  padding: 0;
}

.chatbox-loading-bar {
  position: sticky;
  top: 0;
  z-index: 1;
}
